<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.x16512066.recipeeze">

    <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
    <meta-data
        android:name="com.google.android.gms.ads.APPLICATION_ID"
        android:value="ca-app-pub-3940256099942544~3347511713" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/reclogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.example.x16512066.recipeeze.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!--<action android:name="android.intent.action.CUSTOM" /> -->
        </activity>


        <activity android:name="com.example.x16512066.recipeeze.Splash"></activity>

        <activity
            android:name="com.example.x16512066.recipeeze.Sharing"
            android:label="Sharing"
            android:parentActivityName=".Home" />
        <activity
            android:name="com.example.x16512066.recipeeze.PhotoAnalyser"
            android:label="Photo Analyser"
            android:parentActivityName=".Home" />
        <activity
            android:name="com.example.x16512066.recipeeze.Discoveries"
            android:label="Discoveries"
            android:parentActivityName=".Home" />
        <activity
            android:name="com.example.x16512066.recipeeze.Forum"
            android:label="Forum"
            android:parentActivityName=".Home" />
        <activity
            android:name="com.example.x16512066.recipeeze.CalorieCounter"
            android:label="Calorie Counter"
            android:parentActivityName="com.example.x16512066.recipeeze.Home" />
        <activity android:name=".Home" />
        <activity android:name=".CreateAccount" />




    </application>

</manifest>